* {
    background-color: #ba230c;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    color: #faa49a;
    text-transform: uppercase;
    margin-bottom: 130px;
}
h1 {
    font-size: 40px;
    text-align: center;
    font-weight: 900;
}
h2 {
    font-size: 30px;
    text-decoration: underline;
}
.div1 {
    position: absolute;
    top: 160px;
    left:650px;
}
.div2 {
    position: absolute;
    top: 160px;
    left:650px;
}
.sudo_div2 {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 240px;
    left: 200px;
    margin: auto;
    background-image: url(
"images/project1.png");
    background-size: cover;
    transition: background-image .2s ease-in-out;
        }
.sudo_div2:hover {
    width: 200px;
    height: 200px;
    background-image: url(
"images/project1.2.png");
        }
.sudo_div3 {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 240px;
    left: 500px;
    margin: auto;
    background-image: url(
"images/project2.png");
    background-size: cover;
    transition: background-image .2s linear;
        }
.sudo_div3:hover {
    background-image: url(
"images/project2.1.png");
        }
.sudo_div4 {
    width: 250px;
    height: 200px;
    margin: auto;
    position: absolute;
    top: 240px;
    left: 750px;
    background-image: url(
"images/project3.png");
    background-size: cover;
    transition: background-image .1s linear;
        }
.sudo_div4:hover {
    background-image: url(
"images/project3.1.png");
        }
.sudo_div5 {
    width: 270px;
    height: 270px;
    margin: auto;
    position: absolute;
    top: 245px;
    left: 1070px;
    background-image: url(
"images/project4.png");
    background-size: cover;
}
.sudo_div5:hover {
    transform: translate(0,0) scale(110%,110%);;
}
.button1 {
position: absolute;
top: 210px;
left: 90px;
text-decoration: none;
}
.button1:hover {
    color: #3a0c03;
}
.button2 {
position: absolute;
top: 210px;
left: 80px;
text-decoration: none;
}
.button2:hover {
    color: #3a0c03;
}
.button3 {
position: absolute;
top: 210px;
left: 100px;
text-decoration: none;
}
.button3:hover {
    color: #3a0c03;
}
.button4 {
    position: absolute;
    top: 210px;
    left: 105px;
    text-decoration: none;
    }
.button4:hover {
    color: #3a0c03;
}
h3 {
    text-align: center;
    position: absolute;
    top: 80px;
    left:625px;
    font-weight: 400;
}
h2 {
    text-align: center;
}
.sudo_div7 {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 640px;
    left: 200px;
    margin: auto;
    background-image: url(
"images/exercise1.png");
    background-size: cover;
    transition: background-image .2s ease-in-out;
        }
.sudo_div7:hover {
    width: 200px;
    height: 200px;
    background-image: url(
"images/exercise1.1.png");
        }
.sudo_div8 {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 640px;
    left: 500px;
    margin: auto;
    background-image: url(
"images/exercise2.png");
    background-size: cover;
    transition: background-image .2s ease-in;
        }
.sudo_div8:hover {
    background-image: url(
"images/exercise2.1.png");
        }
.sudo_div9 {
    width: 250px;
    height: 200px;
    margin: auto;
    position: absolute;
    top: 640px;
    left: 750px;
    background-image: url(
"images/exercise3.png");
    background-size: cover;
    transition: background-image .1s linear;
        }
.sudo_div9:hover {
    background-image: url(
"images/exercise3.1.png");
        }
.sudo_div10 {
    width: 250px;
    height: 200px;
    margin: auto;
    position: absolute;
    top: 640px;
    left: 1100px;
    background-image: url(
"images/exercise4.png");
    background-size: cover;
    transition: background-image .2s ease-in;
        }
.sudo_div10:hover {
    background-image: url(
"images/exercise4.1.png");
        }
.button5 {
position: absolute;
top: 210px;
left: 90px;
text-decoration: none;
}
.button5:hover {
    color: #3a0c03;
}
.button6 {
position: absolute;
top: 210px;
left: 80px;
text-decoration: none;
}
.button6:hover {
    color: #3a0c03;
}
.button7 {
position: absolute;
top: 210px;
left: 100px;
text-decoration: none;
}
.button7:hover {
    color: #3a0c03;
}
.button8 {
position: absolute;
top: 210px;
left: 100px;
text-decoration: none;
}
.button8:hover {
    color: #3a0c03;
}
.reflection {
    position: absolute;
    top: 960px;
    left:630px;
}
p {
    font-size: 18px;
    position: absolute;
    top: 1020px;
    margin-left: 260px;
    margin-right: 260px;
    text-align: center;
    text-transform:none;
    margin-bottom: 200px;
}


