* {
    margin:10px 0;
    padding:0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.title {
    text-align: center;
    margin: 30px;
    text-transform: uppercase;
}
h1{
    font-size: 60px;
    line-height: 1.75;
    text-decoration: underline;
}
h2{
    font-size: 20px;
    font-weight: normal;
    line-height: 1.5;
    padding-bottom: 30px;
}
span {
    display: table;
    margin: 0 auto;
}
a {
    text-decoration: none;
    display: inline-flex;
    margin: 0 10px 0 10px;
    background-color: transparent;
}
p{
    background-color: transparent;
    letter-spacing: 3px;
}
.circles {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.blue, 
.orange, 
.green1,
.grey, 
.brown, 
.yellow,
.red, 
.green2,
.purple {
    margin: 0 10px;
}
.blue .circle {
    background-color: #0039ac ;
    color: white;
}
.blue:hover{
    cursor: pointer;
    transform: translate(0,0) scale(110%,110%);
}
.orange .circle {
    background-color: #ff6319;
    color: white;
}
.orange:hover{
    cursor: pointer;
    transform: translate(0,0) scale(110%,110%);
}
.green1 .circle {
    background-color: #6cbe45;
    color: white;
}
.green1:hover{
    cursor: pointer;
    transform: translate(0,0) scale(110%,110%);
}
.grey .circle {
    background-color: #a7a9ac;
    color: white;
}
.grey:hover{
    cursor: pointer;
    transform: translate(0,0) scale(110%,110%);
}
.brown .circle {
    background-color: #996633;
    color: white;
}
.brown:hover{
    cursor: pointer;
    transform: translate(0,0) scale(110%,110%);
}
.yellow .circle {
    background-color: #fccc0a;
    color: black;
}
.yellow:hover{
    cursor: pointer;
    transform: translate(0,0) scale(110%,110%);
}
.red .circle {
    background-color: #ee352e;
    color: white;
}
.red:hover{
    cursor: pointer;
    transform: translate(0,0) scale(110%,110%);
}
.green2 .circle {
    background-color: #00933c;
    color: white;
}
.green2:hover{
    cursor: pointer;
    transform: translate(0,0) scale(110%,110%);
}
.purple .circle {
    background-color: #b933ad;
    color: white;
}
.purple:hover{
    cursor: pointer;
    transform: translate(0,0) scale(110%,110%);
}
.circle {
    text-align: center;
    vertical-align: middle; /* only works with text, used with line-height */
    line-height: 50px; /* The same as your div height - trick to vertically center text */
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 1px; 
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
}
.container {
    display: flex;
    white-space: nowrap;
    width: 100%;
    height: clamp(3em, 10vw, 6em);
    z-index: 9999;
    overflow: hidden;
 }
.loop-text {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 5px 0;
    color: rgb(185, 49, 0);
    font-family: "Jersey 15", sans-serif;
    font-weight: 100;
}
.loop-text {
    animation: loopText 6s infinite linear;      
}
@keyframes loopText {

  from {
      transform: translateX(00%);
   }

  to {
      transform: translateX(-100%);
   }
   
}
.header-section{
    position: relative;
    top: 100px;
}
h3{
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
}
h4{
   text-align: center;
   justify-content: center; 
   font-weight: 200; 
   margin-right: 300px;
   margin-left: 300px;
   padding: 20px 0 100px 0;
   z-index: 30;
   line-height: 2;
}
a{
    display: inline;
}

